@charset "UTF-8";

header {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 390px; */
  width: 100%;
  height: 68px;
  left: 0px;
  top: 0px;
  padding: 0 20px;
  z-index: 1;
  border: 2px solid #b32e81;
}

header p {
  width: 50%;
  height: 28px;
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  border: 2px solid #b32e81;
}

/* ハンバーガーメニュー */
.menu-button {
  background-color: #efeeef;
  position: relative;
  width: 40px;
  height: 40px;
  right: 0%;
  border-radius: 50%;
}

.menu-button span {
  background-color: #d8660f;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 5%;
  width: 50%;
}

.menu-button span:nth-child(1) {
  top: 30%;
}
.menu-button span:nth-child(2) {
  top: 50%;
}

.menu-button span:nth-child(3) {
  top: 70%;
}

/* p,
h2 {
  position: relative;
  font-family: "Hiragino Maru Gothic Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
} */
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 0;
}
h2 {
  font-size: 18px;
}
hr {
  width: 333px;
  height: 1px;
  margin: 0;
  color: #b32e81;
  background-color: #b32e81;
  border: 0 none;
}
.s-text {
  font-size: 12px;
  line-height: 15px;
}

body {
  margin: 0 auto;
}

main {
  box-sizing: border-box;

  top: 70px;
  width: 390px;
  height: 4040px;
}

.around-light-parent-left {
  position: absolute;
  top: 1%;
  left: 1%;
}

.around-light-parent-right {
  position: absolute;
  top: 1%;
  right: 1%;
}

.around-light-child {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  /* filter: blur(1.6px); */
  z-index: 2;
  margin-bottom: 5px;
}

.around-light-grandchild-1 {
  position: absolute;
  border-radius: 50%;
  /* background-color: #ca549e; */
  width: 10px;
  height: 10px;
  filter: blur(1.6px);
  /* z-index: 2; */
}

.around-light-grandchild-2 {
  position: absolute;
  border-radius: 50%;
  background-color: #f59f77;
  width: 10px;
  height: 10px;
  /* z-index: 3; */
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* animation: color-change 1s infinite; */
}

@keyframes color-change {
  0% {
    background-color: #f59f77;
  }
  50% {
    background-color: #83553f;
  }
  50% {
    background-color: #080504;
  }
}

.around-light-grandchild-2n {
  position: absolute;
  border-radius: 50%;
  background-color: #9e9d9b70;
  width: 8px;
  height: 8px;
  z-index: 3;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 50px 2px #000000;
}

.around-light-grandchild-3 {
  position: absolute;
  border-radius: 50%;
  background-color: #feda91;
  width: 7px;
  height: 7px;
  /* z-index: 1; */
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 50px 4px #feda91;
}

#bg {
  position: absolute;
  width: 390px;
  height: 4040px;
  background-color: #efeeef;
  z-index: 0;
}
#sectionc {
  box-sizing: border-box;

  position: fixed;
  bottom: 0;
  width: 390px;
  height: 129px;
  background: rgba(255, 255, 239, 0%);
  padding: 49px 39px;
}

#sectionc p {
  width: 330px;
  height: 67px;
  font-weight: 700;
}
#sectionc .s-text {
  text-align: right;
}

#section1 {
  box-sizing: border-box;

  position: relative;
  width: 390px;
  height: 843px;
  /* background: radial-gradient(976.86% 167.1% at 100% 101.05%, #B32E81 0%, #F7EE4F 100%) */
}
#section2 {
  box-sizing: border-box;

  position: relative;
  width: 390px;
  height: 569px;
  background: rgba(255, 255, 255, 80%);
  padding: 29px 28px;
}
#section2 h1 {
  width: 333px;
  height: 49.54px;

  background: radial-gradient(
      90.12% 382.11% at 39.52% 28.45%,
      #b32e81 0%,
      #f7ed4e 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#section2 p,
#section2 h2 {
  color: #b32e81;
}
#section2 h2 {
  margin-top: 0;
}
#section3 {
  box-sizing: border-box;

  position: relative;
  width: 390px;
  height: 560px;
  padding: 52px 29px;
}
#section3 h1 {
  background: radial-gradient(
      90.12% 382.11% at 39.52% 28.45%,
      #b32e81 0%,
      #f7ed4e 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#section3 h2 {
  margin-top: 0;
  color: #b32e81;
}
#hr-bottom {
  position: absolute;
  bottom: 39px;
}
#section4 {
  box-sizing: border-box;

  position: relative;
  width: 390px;
  height: 538px;
  padding: 49px 27px;
  background: linear-gradient(261.31deg, #f7ee4f -44.66%, #b32e81 111.36%);
}
#section4 h1,
#section4 h2,
#section4 p {
  color: #ffffff;
}
#section4 h2 {
  margin-top: 0;
}
